body {
    /* Location of the image */
    background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/23/people-2557411_960_720.jpg);

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the backgroundImg image rescale based
       on the container's size */
    background-size: cover;

    /* Set a backgroundImg color that will be displayed
       while the backgroundImg image is loading */
    background-color: #464646;
}

@media only screen and (max-width: 767px) {
    body {
        /* The file size of this backgroundImg image is 93% smaller
           to improve page load speed on mobile internet connections */
        background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/23/people-2557411_960_720.jpg);
    }

}


.landing-text {
    color: #fff;
    text-shadow:1px 1px 10px #1b1e21, 1px 1px 10px #ccc;
    font-family: ProximaNova,sans-serif;
    top:36%;
    text-align: center;
    padding: 1rem;
}
.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.get-started-tag {
    color: #fff;
}
.get-started-tag:hover {
    color: #fffacc;
    text-decoration: none;

}

.support-card {
    display:none;
    position:absolute;
bottom:1%;
    right:1%;
}


.image-parent {
    max-width: 200px;
}

img {
    overflow:hidden;
    position:relative;
    width:100%;
}
